*{
  
}


.header{
  background-image: url(../Assets/Hero-bg.png);
 
  margin:0px;
  padding: 0px;
}

.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nav-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
nav ul{
  display: flex;
  align-items: center;
}
 
ul li{
  list-style: none;
  margin-right: 50px;
}
ul li a{
  text-decoration: none;
  font-size: 20px;
}
.dark-2{
  color:#4E47FF
}
.btn-primary{
  background-color: #4E47FF;
  font-weight: bold;
  border-radius: 5px;
  padding: 18px 35px;
  color:#FFFFFF;
}
.banner-section{
  font-weight: 800;
  font-size: 80px


}
.banner{
  text-align: center;
  margin: 0px
  
  
  ;
}
.btn-secondary{
  background-color: #4E47FF;
  color: #FFFFFF;
  border: none;
}
.banner-all{
  display: flex;
  justify-content: space-between;
  
  margin:160px 160px 116px 140px
  
  
}
.banner-title{
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 23px;
  color:#252432
  

}
.banner-description{
  font-size: 24px;
  font-weight: normal;
  color:#252432;
  margin-bottom: 23px;
}
.banner-img{
  width: 403px;
  border-radius: 48px;
  border: none;
  gap: 220px;

}
.btn-banner{
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  background-color:#4E47FF;
  color: #FFFFFF;
  width: 230px;
  height: 48px;
}
.line-align{
  display: flex;
}
.users{
  background-color: aliceblue;
  margin-top: 100px;
  width: 1140px;
  height: 306px;
  padding: 20px;
}
.users-container{
  display: flex;
  justify-content: space-around;
}
.users-title{
  justify-content: center;
  text-align: center;
}
.main-iteams{
  text-align: center;
  display: flex;
  justify-content: center;
  justify-content: space-around;

  
 

}
.text-center{
  text-align: center;
}
.skills-container{
  display: flex;
  gap: 24px;

}
.skill{
  padding: 30px;
  border-radius: 5px;
box-shadow: 0px 6px 50px 0px #621414;



}

